/* Start Variables */
:root {
  --main-color: #19c8fa;
  --second-color: #777;
  --Third-color: #000000b3;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --transition: 0.5s;
}
/* End Variables */
/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: black;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--second-color);
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-heading p {
  font-size: 15px;
  font-weight: normal;
  color: var(--second-color);
  max-width: 500px;
  margin: 20px auto;
}
/* End Components */
/* Start Header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
  min-height: 93.13px;
}
.header .container {
  display: flex;
  align-items: center;
  position: relative;
}
.header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 1px;
  background-color: var(--second-color);
  bottom: 0px;
}
.header .container .logo img {
  height: 50px;
}
.header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}
.header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
  display: none;
}
.header .container nav ul {
  display: flex;
  margin-right: 30px;
}
.header .container nav ul li {
  padding: 0;
}
.header .container nav ul li a.active,
.header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.header .container nav ul li a {
  display: block;
  padding: 35px 10px;
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  .header .container nav .toggle-menu {
    display: block;
    margin-right: 20px;
  }
  .header .container nav ul {
    display: none;
  }
  .header .container nav .toggle-menu:hover + ul {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: calc(100% + 15px);
    left: -15px;
    background-color: var(--Third-color);
    z-index: 3;
  }
  .header .container nav ul li a {
    display: block;
    padding: 15px;
    margin-left: 15px;
  }
}
.header .container nav .search {
  width: 40px;
  height: 30px;
  border-left: 1px solid var(--second-color);
  position: relative;
}
.header .container nav .search i {
  color: white;
  font-size: 20px;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/Landing.jpeg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Third-color);
  top: 0;
}
.landing .text {
  color: white;
  position: absolute;
  z-index: 2;
  background-color: var(--transparent-color);
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 1.6;
  width: fit-content;
  margin: 0;
}
.landing .text p {
  line-height: 1.6;
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
}
.landing .fa-angle-left,
.landing .fa-angle-right {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .fa-angle-left,
  .landing .fa-angle-right {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  z-index: 2;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .bullets li {
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid white;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.services .content .col {
  flex-basis: 45%;
}
.services .content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .content .col .srv i {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .services .content {
    flex-direction: column;
  }
  .services .content .col {
    flex-basis: 100%;
  }
  .services .content .col .srv {
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  .services .content .col .srv i {
    margin: 0 0 40px;
  }
}
.services .content .col .srv h3 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.services .content .col .srv p {
  line-height: 1.6;
  color: var(--second-color);
}
/* End Services */
/* Start Design */
.design {
  background-image: url(../images/owl2.jpeg);
  background-size: cover;
  height: 600px;
  position: relative;
  z-index: -1;
  display: flex;
  overflow: hidden;
}
.design::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--Third-color);
  z-index: -1;
}
.design .image {
  flex: 1;
  position: relative;
}
.design .image img {
  width: 300px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .text {
  flex: 1;
}
.design .text .content {
  background-color: var(--transparent-color);
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.design .text .content h3 {
  font-weight: normal;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.design .text .content ul li {
  font-weight: normal;
  margin-bottom: 20px;
}
.design .text .content ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle ul {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.portfolio .shuffle ul li {
  padding: 10px 15px;
  border-radius: 5px;
}
.portfolio .shuffle ul li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .photos {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .photos .photo {
  position: relative;
  overflow: hidden;
}
.portfolio .photos .photo img {
  filter: grayscale(70%);
  max-width: 100%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-filter: grayscale(70%);
}
@media (max-width: 767px) {
  .portfolio .photos .photo {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .portfolio .photos .photo {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .portfolio .photos .photo {
    flex-basis: 25%;
  }
}
.portfolio .photos .photo .text {
  padding: 10px;
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.portfolio .photos .photo:hover .text {
  bottom: 0;
}
.portfolio .photos .photo:hover img {
  filter: grayscale(0%);
  transform: scale(1.1) rotate(3deg);
  -webkit-transform: scale(1.1) rotate(3deg);
  -moz-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  -o-transform: scale(1.1) rotate(3deg);
  -webkit-filter: grayscale(0%);
}
.portfolio .photos .photo .text h4 {
  margin-bottom: 10px;
}
.portfolio .photos .photo .text p {
  color: var(--main-color);
}
.portfolio .more {
  margin: 40px auto;
  text-align: center;
}
.portfolio .more button {
  background-color: var(--main-color);
  border: none;
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video video {
  max-width: 100%;
}
.video .text {
  background-color: var(--transparent-color);
  color: white;
  position: absolute;
  text-align: center;
  padding: 50px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.video .text p {
  font-size: 15px;
}
.video .text button {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 20px;
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  overflow: hidden;
}
.about .image {
  text-align: center;
  padding-top: 100px;
  margin-top: -160px;
  position: relative;
  bottom: -160px;
}
.about .image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .about .image {
    bottom: -150px;
  }
}
/* End About */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/Stats.jpeg);
  background-size: cover;
  min-height: 350px;
  position: relative;
  z-index: -1;
  color: white;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--Third-color);
}
.stats .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats .content .box {
  background-color: var(--transparent-color);
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .stats .content .box {
    flex-direction: column;
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .stats .content .box {
    flex-direction: column;
    flex-basis: 100%;
  }
}
.stats .content .box .icon {
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stats .content .box .text {
  text-align: center;
}
.stats .content .box .text h2 {
  font-size: 40px;
  margin: 25px 0 15px;
}
/* End Stats */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .our-skills .container {
    flex-direction: column;
  }
}
.our-skills .container .testimonials {
  flex-basis: 45%;
}
.our-skills .container .testimonials h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.our-skills .container .testimonials > p {
  text-align: center;
  color: var(--second-color);
  margin-bottom: 40px;
  line-height: 1.6;
}
.our-skills .container .testimonials .box {
  display: flex;
  margin-bottom: 70px;
}
.our-skills .container .testimonials .box .image {
  margin-right: 40px;
}
.our-skills .container .testimonials .box .image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skills .container .testimonials .box .text {
  position: relative;
  border-bottom: 1px solid var(--second-color);
  margin-bottom: -15px;
}
.our-skills .container .testimonials .box .text p {
  line-height: 2;
}
.our-skills .container .testimonials .box .text span {
  position: absolute;
  right: 0;
  color: var(--second-color);
}
.our-skills .container .testimonials .shuffle {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.our-skills .container .testimonials .shuffle li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid var(--second-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skills .container .testimonials .shuffle li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .container .skills {
  flex-basis: 45%;
}
@media (max-width: 992px) {
  .our-skills .container .skills {
    margin-top: 100px;
  }
}
.our-skills .container .skills > h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.our-skills .container .skills > p {
  text-align: center;
  color: var(--second-color);
  margin-bottom: 40px;
  line-height: 1.6;
}
.our-skills .container .skills .prog {
  margin-bottom: 40px;
}
.our-skills .container .skills .prog h3 {
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.our-skills .container .skills .prog .prog-holder {
  height: 30px;
  width: 100%;
  background-color: #ddd;
}
.our-skills .container .skills .prog .prog-holder span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
  position: relative;
}
.our-skills .container .skills .prog .prog-holder span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  width: 40px;
  height: 25px;
  right: -20px;
  top: -40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.our-skills .container .skills .prog .prog-holder span::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  right: -9px;
  top: -15px;
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpeg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--Third-color);
  z-index: -1;
}
.quote p:first-of-type {
  color: white;
  line-height: 2;
  font-size: 30px;
  text-align: center;
  position: relative;
}
.quote p:first-of-type::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  margin-right: 20px;
}
.quote p:first-of-type::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  margin-right: 20px;
}
.quote p:last-of-type {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.pricing .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 30px;
}
.pricing .container .content .col {
  background-color: rgb(253 247 247 / 32%);
}
.pricing .container .content .col .head {
  padding: 40px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .content .col .head h3 {
  font-weight: normal;
}
.pricing .container .content .col .head p {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}
.pricing .container .content .col .head p::before {
  content: "$";
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  top: -20px;
  left: 100px;
}
.pricing .container .content .col .head p::after {
  content: "/MO";
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  bottom: 0;
  right: 60px;
}
.pricing .container .content .col .body ul {
  border-bottom: 1px solid var(--main-color);
  text-align: center;
}
.pricing .container .content .col .body li {
  padding: 30px 0;
}
.pricing .container .content .col .body li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing .container .content .col .foot {
  margin: 30px auto;
}
.pricing .container .content .col .foot button {
  background: none;
  border: 1px solid var(--main-color);
  padding: 20px;
  cursor: pointer;
}
.pricing .container .contact p {
  font-size: 20px;
  margin-top: 30px;
}
.pricing .container .contact button {
  border: none;
  color: white;
  background-color: var(--main-color);
  padding: 10px 20px;
  margin-top: 40px;
  cursor: pointer;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  background-image: url(../images/subscribe.jpeg);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--Third-color);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container .form {
  width: 500px;
  max-width: 100%;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.subscribe .container .form i {
  position: absolute;
  left: 25px;
}
.subscribe .container .form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  padding: 20px 20px 20px 60px;
  background: none;
  width: calc(100% - 130px);
  color: white;
}
.subscribe .container .form input[type="email"]:focus {
  outline: none;
}
.subscribe .container .form input[type="email"]::placeholder {
  color: white;
}
.subscribe .container .form input[type="submit"] {
  border: 1px solid white;
  border-left: none;
  padding: 20px 30px;
  background-color: var(--main-color);
  color: white;
  width: 130px;
}
.subscribe .container p {
  margin-left: 30px;
  color: white;
  line-height: 2;
}
@media (max-width: 991px) {
  .subscribe .container p {
    margin: 30px 0 0 0;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content .form {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
.contact .content .form .input {
  max-width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
}
.contact .content .form textarea.input {
  height: 200px;
}
.contact .content .form .input:focus {
  outline: none;
}
.contact .content .form input[value="Send Message"] {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 991px) {
  .contact .content .info {
    order: -1;
    text-align: center;
    margin-bottom: 50px;
  }
}
.contact .content .info .phone {
  margin-bottom: 100px;
}
.contact .content .info h3 {
  margin-bottom: 30px;
  font-size: 15px;
  text-transform: uppercase;
}
.contact .content .info p {
  color: var(--second-color);
  line-height: 2;
}
/* End Contact */
/* Start footer */
.footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/Stats.jpeg);
  background-size: cover;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--Third-color);
}
.footer .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.footer .container .logo img {
  height: 60px;
  margin-bottom: 30px;
}
.footer .container h3 {
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding: 0 30px 30px;
}
.footer .container .links {
  display: flex;
  margin: 30px auto;
}
.footer .container .links a {
  margin-left: 30px;
  color: white;
}
.footer .container p span {
  font-weight: bold;
  color: var(--main-color);
}
/* End footer */
